<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macrobot_full_collision">
  <!-- Full Fusion link tree with the exported per-link collision geometry. -->
  <material name="material"><color rgba="0.965 0.965 0.953 1.0"/></material>
  <xacro:include filename="$(find macrobot_description)/urdf/assemblies/macrobot_full_visual.urdf.xacro"/>
  <xacro:macrobot_full_visual prefix=""/>
</robot>
