<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="macrobot">

  <!-- Materials (shared across all assemblies) -->
  <material name="material">
    <color rgba="0.965 0.965 0.953 1.0"/>
  </material>

  <!-- Assembly includes -->
  <xacro:include filename="$(find macrobot_description)/urdf/assemblies/macrobot.urdf.xacro"/>

  <!-- Instantiate assemblies -->
  <xacro:macrobot prefix=""/>

</robot>